{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "KEY_VAULT_NAME": "rb-triage-kv",
    "FRESHSERVICE_DOMAIN": "renovationbrands.freshservice.com",
    "TEAMS_WEBHOOK_URL_SETTING": "TEAMS-WEBHOOK-URL",
    "FRESHSERVICE_API_KEY_SETTING": "FRESHSERVICE-API-KEY",
    "ANTHROPIC_API_KEY_SETTING": "ANTHROPIC-API-KEY"
  }
}
